<!-- <div class="form-list-container">
  <form>
    <mat-form-field style="width:100%;">
      <input matInput placeholder="From" required>
      <button type="button" aria-label="Toggle sidenav" matSuffix mat-icon-button>
        <mat-icon color="primary">arrow_forward</mat-icon>

      </button>
    </mat-form-field>

  </form>
  <div class="ride-info-list scroll">
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>
    <div class="element-container">
      <app-ride-info></app-ride-info>

    </div>


  </div>
</div> -->
 