.description-card{
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top:10px;
}
.verif-card{
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top:10px;

}
.pref-card{
    border-radius: 15px;
    margin-bottom: 10px;
    
    margin-top:10px;
}
.cards-container{
    margin-top: 20px;
    width: 600px;
}
.profile-image{
    border-radius: 50px;
    border-top-left-radius: 50px;
    width: 100px;
    height: 100px;
    
}